[submodule ".opencode"]
	path = .opencode
	url = https://github.com/apiad/opencode-core.git
[submodule "lib/microcli"]
	path = lib/microcli
	url = https://github.com/apiad/microcli.git
[submodule "lib/opencode-literate-commands"]
	path = lib/opencode-literate-commands
	url = https://github.com/apiad/opencode-literate-commands.git
